<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="assets/navbar.css" rel="stylesheet" />
    <link href="assets/footer.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    <div class="container">
        <div class="Logo">
            <img src="images/logo.png">
        </div>
        <div class="Acceuil">
            <a class="nav-btn" href="/">Accueil</a>
        </div>
        <div class="Categorie">
            <a class="nav-btn" href="/">Categorie</a>
        </div>
        <div class="Statistique">
            <a class="nav-btn" href="/">Statistiques</a>
        </div>
        <div class="Ajout">
            <a class="nav-btn" href="/">Ajout</a>
        </div>
    </div>
</head>
<body>
    {% block body %}

    {% endblock %}
    
</body>
</html>
